<div class="col s12 m6">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title"><a href="/post/{{this.id}}">{{this.post_title}}</a></span>
            <p>{{this.post_content}}</p>
            <p>Posted by {{this.user.name}} on {{format_date this.date_posted}}</p>
        </div>
        <div class="card-action">
            {{!-- todo: add if logic to this section for buttons only users should be able to update and delete, any should be able to reply. Use session:user_ID for identification
            also add if statement for if logged in to wrap the other if statement. --}}
            <a class="waves-effect waves-teal btn-flat" id="deletePostBTN" data-post="{{this.id}}" data-user="{{this.user_id}}">Delete</a>
            <a class="waves-effect waves-teal btn-flat" id="updatePostBTN" data-post="{{this.id}}" data-user="{{this.user_id}}">Update</a>
            <a class="waves-effect waves-teal btn-flat" id="replyPostBTN" data-post="{{this.id}}">Reply</a>
        </div>
    </div>
</div>
