<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{this.name}}!</h2>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 center-align">
    <h3>New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Post Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Post Content:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  {{#if this.posts.length}}
  <div class="col s12 md12 post-list center-align">
    <h3>Current posts:</h3>
  </div>
  <div class="col s12 md12 post-list"></div>
    {{#each posts}}
    <div class="col s12 m12 l12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title"><a href="/post/{{this.id}}">{{this.post_title}}</a></span>
        </div>  
        <div class="card-action">
          <button class="btn btn-sm btn-danger deleteBTN" data-post="{{this.id}}" data-user="{{this.user_id}}">DELETE</button>
          <a class="waves-effect waves-teal btn-flat updateBTN" data-post="{{this.id}}" data-user="{{this.user_id}}">Update</a>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<div class="row">
  {{#if this.replies.length}}
  <h3 class="replies-box">Current Replies:</h3>
  {{#each replies}}

      <div class="col s12 m12">
        <div class="card blue-grey lighten-1">
          <div class="card-content white-text">
            <h3 class="card-title">Reply To: {{this.post.post_title}}</h3>
            <p>{{this.reply_content}}</p>
            <p>Posted by: {{this.user.name}} on {{format_date this.date_replied}}</p>
          </div>
          <div class="card-action">
            {{#if logged_in}}
                {{!-- {{#check_equality user_id, user_id}} --}}
                <a class="waves-effect waves-teal btn-flat deleteBTN" data-reply="{{this.id}}" data-user="{{this.user_id}}">Delete</a>
                <a class="waves-effect waves-teal btn-flat" id="updateReplyBTN" data-reply="{{this.id}}" data-user="{{this.user_id}}">Update</a>
                {{!-- {{/check_equality}} --}}
            {{/if}}

          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}  
</div>

<script src="./js/profile.js"></script>
<script src="/js/delUpHandler.js"></script>
